@media only screen and (max-width: 1400px) {
  input,
  textarea,
  .circles {
    width: 40%;
  }
  .searchDiv {
    width: 42%;
  }
  #cards {
    width: 75%;
  }
}
@media only screen and (max-width: 1100px) {
  input,
  textarea,
  .circles {
    width: 50%;
  }
  .searchDiv {
    width: 52%;
  }
  #cards {
    width: 80%;
  }
}
@media only screen and (max-width: 850px) {
  input,
  textarea,
  .circles {
    width: 70%;
  }
  .searchDiv {
    width: 72%;
  }
  #cards {
    width: 85%;
  }
  .links {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  input,
  textarea,
  .circles,
  .searchDiv,
  #cards {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .rounded {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    transform: translateY(3px);
  }
}
@media only screen and (max-width: 400px) {
  .rounded {
    width: 25px;
    height: 25px;
    margin-right: 0px;
    transform: translateY(5px);
  }
}
